

.OuterContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.PanelContainer{

height:35vh;
margin-top: 1rem;
background-color: white;
overflow-y: auto;
width:80%;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 3rem;
border:2px solid black;

}